
.card-information {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.image-holder {
    min-width: 15em;
    align-self: center; 
    margin-bottom: 1.7em;
}

.image-holder img {
    max-width: 100%;
}

.information-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 0;
}

.information-container .card-field {
    padding: .5em;
    border: 1px solid #0C0E25;
    border-radius: 5px;
    margin: 10px 0px;
    display: flex;
    position: relative;
}

.card-field .label {
    font-weight: bold;
}

.card-field .text {
    text-align: right;
    position: absolute;
    min-width: 100%;
    right: .5em;
}

.inline.card-field .text {
    text-align: right;
    right: 1em;
}

.information-container .inline-content {
    display: flex;
}

.inline-content .card-field.inline {
    flex: 1;
}

.card-field.card-text {
    flex-flow: row wrap;
}
.card-field.card-text .text {
    text-align: initial;
    position: initial;
    margin-top: 3px;
}

@media screen and (min-width: 1280px) {
    .card-information {
        flex-direction: row;
    }

    .image-holder {
        align-self: auto;
    }
}

@media screen and (min-width: 990px) {
    .information-container {
        padding: 0 5em;
    }
}

@media screen and (min-width: 570px) {
    .card-field .text {
        text-align: center;
    }
    .card-field {
        font-size: initial;
    }
}